<main href="#mcdonald" class="mcdonaldFood">
  <aside>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#feature">Feature
          items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#popular">Most popular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#combo">Combo Meals</a>
      </li>

    </ul>
  </aside>

  {{! Food cards for Mcdonald }}
  {{! feature Items }}
  <div class="featureItems">
    <h3 href="#feature"> Feature </h3>
    <div href="#mcdonald" class="card" style="width: 18rem;">
      <img
        src="./public/image/mdHappyChicken.jpeg"
        class="card-img-top"
        alt="Happy Meal Chicken Nugget"
      />
      <div class="card-body">
        <h5 class="card-title"> {{name}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{price}}</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Add to cart</a>
      </div>
    </div>


  {{! most popular }}
  <div class="mostPopular">
    <h3 href="#popular"> Most popular </h3>
    <div href="#mcdonald" class="card" style="width: 18rem;">
      <img
        src="./public/image/nuggetmeal.jpeg"
        class="card-img-top"
        alt="20 pc Chicken nugget"
      />
      <div class="card-body">
        <h5 class="card-title"> {{name}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{price}}</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Add to cart</a>
      </div>
    </div>


  {{!-- {{! Combo meals }}
  <div class="comboMeal">
    <h3 href="#combo"> Combo Meals </h3>
    <div href="#mcdonald" class="card" style="width: 18rem;">
      <img
        src="./public/image/mdHappyChicken.jpeg"
        class="card-img-top"
        alt="Happy Meal Chicken Nugget"
      />
      <div class="card-body">
        <h5 class="card-title"> {{name}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{price}}</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Add to cart</a>
      </div>
    </div> --}}
</main>